.r_tbdr{
    border: 1px dashed black;
}
.r_cont{
    
}
.r_mysection{
    transform: scale(0.9,0.9);
    border: 10px solid #0DCAF0 !important;
}
.r_h33_1{
    height: 160px;
}
.r_h33_2{
    height: 340px;
}

.r_h33{
    height: 245px;
}
.r_hand{
    
}

.r_1{
    height: 60px;
    width: 60px;
    border-style: outset;
    background: #B3BFFF;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.8);
}
.r_active{
    transform: translate(2px,2px);
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.8);
}
.r_circle{
    width: 20px;
    height: 20px;
}
.r_left_pinky{
    display: none;
    left: 255px;
    top:90px;
}